<div class="content-block">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <div *ngIf="!isEdit; else edit">
    <ng-container matColumnDef="id">
      <td mat-cell *matCellDef="let data"> {{data.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <td mat-cell *matCellDef="let data"> {{data.name}}</td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <td mat-cell *matCellDef="let data"> {{data.surname}}</td>
    </ng-container>

    <ng-container matColumnDef="date_of_birth">
      <td mat-cell *matCellDef="let data"> {{data.date_of_birth}}</td>
    </ng-container>

    <ng-container matColumnDef="created">
      <td mat-cell *matCellDef="let data"> {{data.created}}</td>
    </ng-container>

    <ng-container matColumnDef="updated" >
      <td mat-cell *matCellDef="let data"> {{data.updated}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <td mat-cell *matCellDef="let data"> <button mat-button (click)="editUser(data.id)">Edit</button></td>
    </ng-container>
  </div>


    <ng-template #edit ><!--*ngif="this.editedUser"-->
      <td> <!--mat-cell *matCellDef="let data"-->
        <input type="text" [(ngModel)]="editedUser.id" disabled>
      </td>
      <td><!-- mat-cell *matCellDef="let data"-->
        <input type="text" [(ngModel)]="editedUser.name">
      </td>
      <td><!--mat-cell *matCellDef="let data"-->
        <input type="number" [(ngModel)]="editedUser.surname">
      </td>
      <td> <!--mat-cell *matCellDef="let data"-->
        <input type="date" [(ngModel)]="editedUser.date_of_birth">
      </td>

      <td mat-cell *matCellDef="let data">{{data.created}}</td>
      <td mat-cell *matCellDef="let data">{{data.updated}}</td>

      <td mat-cell *matCellDef="let data">
        <button mat-button (click)="cancel()">Done</button>
      </td>
      <td mat-cell *matCellDef="let data">
        <button mat-button (click)="saveUser()">Done</button>
      </td>
    </ng-template>

    <tr mat-row *matRowDef="let data; columns: displayedColumns;"></tr>

  </table>

<!--  <table class="table table-striped">
    <thead>
    <tr>
      <td>Id</td>
      <td>Имя</td>
      <td>Дата рождения</td>
      <td>Запись создана</td>
      <td>Запись обновлена</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <ng-template [ngTemplateOutlet]="loadTemplate(user)"
                   [ngTemplateOutletContext]="{ $implicit: user}">
      </ng-template>
    </tr>
    </tbody>
  </table>
  <div>{{statusMessage}}</div>


  &lt;!&ndash;шаблон для чтения&ndash;&gt;
  <ng-template #readOnlyTemplate let-user>
    <td>{{user._id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.date_of_birth}}</td>
    <td>{{user.created}}</td>
    <td>{{user.updated}}</td>
    <td>
      <input type="button" value="Изменить" class="btn btn-default" (click)="editUser(user)" />
    </td>
  </ng-template>

  &lt;!&ndash;шаблон для редактирования&ndash;&gt;
  <ng-template #editTemplate>
    <td>
      <input type="number" [(ngModel)]="editedUser._id" readonly disabled class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="editedUser.name" class="form-control" />
    </td>
    <td>
      <input type="number" [(ngModel)]="editedUser.age" class="form-control" />
    </td>
    <td>
      <input type="button" value="Сохранить" (click)="saveUser()" class="btn btn-success" />
    </td>
    <td>
      <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </td>
  </ng-template>-->
</div>
